<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <!-- SEO Settings -->
        <title>Codename Retort - The 4K Featherweight App Framework!</title>
        <meta name="description" content="Build seemless - featherweight - responsive scaffold apps for mobile, 4K, and beyond. StringBean is a pure CSS solution."/>
        <link rel="canonical" href="http://stringbean-lang.com" />

    <!-- User Experience Settings -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Social Media -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@MarkGreenall">
        <meta name="twitter:creator" content="@MarkGreenall">
        <meta name="twitter:title" content="Codename Jiffy - The 4K Featherweight App Framework!">
        <meta name="twitter:description" content="Build seemless - featherweight - responsive scaffold apps for mobile, 4K, and beyond. StringBean is a pure CSS solution.">
        <meta name="twitter:image" content="https://s3-eu-west-1.amazonaws.com/stringbean/img/AppleIcon-512.png">
        
        <!-- Apple Device Settings -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon" href="https://s3-eu-west-1.amazonaws.com/stringbean/img/AppleIcon-512.png">
        <link rel="apple-touch-icon" sizes="512x512" href="https://s3-eu-west-1.amazonaws.com/stringbean/img/AppleIcon-512.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="https://s3-eu-west-1.amazonaws.com/stringbean/img/AppleIcon-1024.png">
        <link rel="apple-touch-icon" sizes="2048x2048" href="https://s3-eu-west-1.amazonaws.com/stringbean/img/AppleIcon-2K.png">
        
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" href="./StringBean.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Yantramanav:400,300,700|Hind+Vadodara:400,300|Courgette|Yesteryear|Norican' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300|Titillium+Web:900,700|Martel:300,500,700' rel='stylesheet' type='text/css'>
        
        <style type="text/css">
            html,body { font-family:'Martel', sans-serif; } body { background-image:url(bg.jpg); }
            footer { border-top:1px dotted #aaa; margin:1.5em 0 1em; } footer h5 { font-size:1em; color:#333; } footer h6 { font-size:0.75em; color:#777; }
            h1,h2,h3,h4,h5,h6 { font-family: 'Titillium Web', sans-serif; font-weight:700; color:#333; padding:0.25em 0;}
            article > small, article > time { display:inline-block; margin:0.5em; padding:0.25em 1em; font-size:0.8em; color:#777; }
            article > small { border-left:1px solid #ccc; } 
            article > time {  }
            p { line-height:2em; font-weight:300; font-size:1.15em; color:#333; }
            p::selection { background-color:#333; color:#ddd; }
            a { font-weight:700; text-decoration:none; border-bottom:1px dotted #333; color:#333; } a:hover { color:#777; }
            a .fa { padding-right:0.25em; }
            nav a { border-bottom:0; color:#aaa; font-size:0.8em; }
            nav ul { padding:1em !important; } nav li, nav a { text-align:left !important; }
            .author { display:block; margin:1em 0; } .author img { border-radius:100%; margin-top:0.5em; } .author h1, .author h6 { margin:0 0; padding:0 0 0.5em; }
            .author .column { margin:0 0; } .author .column:first-child { margin-right:2%; }
        </style>
        
    </head>
    <body>
        
        
        <header class="container">
            <section class="row">
                <nav class="align-right">
                    <ul>
                        <li><i class="fa fa-bars"></i></li>
                            <ul>
                                <li><a href="#">LATEST NEWS</a></li>
                                <li><a href="#">ARCHIVE <span class="fa fa-angle-down"></span></a>
                                    <ul>
                                        <li><a href="#">FRONT-END</a></li>
                                        <li><a href="#">BACK-END</a></li>
                                        <li><a href="#">SEO/MARKETING</a></li>
                                        <li><a href="#">MISCELLANEOUS</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">GITHUB <span class="fa fa-angle-down"></span></a>
                                    <ul>
                                        <li><a href="#">VIEW GITHUB</a></li>
                                        <li><a href="#">STRINGBEAN</a></li>
                                        <li><a href="#">REPARTEE</a></li>
                                        <li><a href="#">FISH</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">CONTACT</a>
                            </li>
                        </ul>
                    </ul>
                </nav>
            </section>
        </header>
        
        <main class="container">
            <article class="row layout-700">
            
                <ul class="row author">
                    <li class="column xsmall-16 medium-2">
                        <img src="author.jpg" class="full-16">
                    </li>
                    <li class="column xsmall-16 medium-14">
                        <h1>Chef's Larder is breaking new records with growth in the UK!</h1>
                        <small>Booker Digital Team</small>&raquo;<time datetime="2016-03-23 10:25">23 MAR 2016</time>
                    </li>
                </ul>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis elit ac ultrices. Praesent dui sapien, efficitur <a href="">eget purus non</a>, ullamcorper fringilla felis. Nullam placerat condimentum nisl.
                </p>
                
                <p>
                    Tet imperdiet nisl vehicula id. Quisque <a href="">metus dui</a>, ornare sed <a href="">libero quis</a>, pulvinar <a href="">diam vitae</a> luctus ex. Suspendisse non eros viverra finibus. Aliquam quis ligula tellus. Duis vel ligula ante. Morbi in nibh a orci viverra aliquam.
                </p>
                
                <p>
                    Nunc id dui nec nulla tincidunt tincidunt sit amet sit amet felis. Morbi ultricies, urna vel eleifend aliquam, velit felis consectetur lorem, non vehicula augue velit eu ligula. Aenean eu pulvinar orci. Maecenas pharetra massa dolor, ac finibus justo blandit ac. Vivamus laoreet erat vel nisl sodales, sed fringilla magna rhoncus.
                </p>
                
                <img src="feature1.png" class="full-16">
                
                <h3>API Optimisation Works</h3>
                
                <p>
                    Integer mattis sed dui ut interdum. In sit amet ex sit amet leo vestibulum suscipit. Aliquam condimentum velit quis ex tempus vehicula.
                </p>
                
                <p>    
                    Integer vulputate massa et dui congue malesuada. Nulla scelerisque enim luctus, ultrices tortor pellentesque, maximus urna. Donec eu ipsum vitae sapien pulvinar scelerisque eu a eros.
                </p>
                
                <img src="feature2.png" class="full-16">
                
                <h3>User Acceptance and Flow Improvements</h3>
                
                <p>
                    Vivamus ac suscipit magna. Nulla a elit felis. Fusce tempus efficitur turpis, nec dapibus nunc. Fusce at augue mollis, vehicula magna at, placerat eros. Nullam quis mi non diam vehicula elementum at nec velit. Praesent nec suscipit risus, non tempus nisl.
                </p>
                
                <p>
                    Morbi magna erat, congue ut orci sit amet, pulvinar egestas lorem. Maecenas consequat, nisi ac tristique maximus, nunc libero consectetur dui, non egestas nisl lorem et nunc. Mauris condimentum consectetur quam, quis consectetur nulla sagittis in. Quisque tempor, ante sed posuere rhoncus, diam eros varius ex, non molestie risus nisl in nisi. In hac habitasse platea dictumst.
                </p>
                
                <img src="feature3.png" class="full-16">
                
                <p>
                    Aliquam interdum pellentesque semper. Proin sed efficitur libero. Pellentesque at mi pharetra elit congue hendrerit. Nunc porta libero vel urna bibendum molestie eget a sapien. 
                </p>
                
                <p>
                    Nullam sed suscipit sem, in vulputate nisl. Vestibulum lobortis pharetra metus imperdiet porttitor.
                </p>
                
                <h3>Final Observations</h3>
                
                <p>
                    Quisque eget pellentesque mi. Ut viverra nunc efficitur elit tincidunt, vel aliquet magna porta. Suspendisse lobortis erat a ante rhoncus, a aliquet dui convallis. Phasellus eget justo elit. Vestibulum et justo leo. Mauris et diam porttitor, blandit lacus eu, semper tortor. Suspendisse ut mauris eu diam ornare faucibus quis at turpis.
                </p>
                
                <p>
                    Nam consequat mauris dolor, nec blandit felis vulputate vel. Integer accumsan nec est quis varius. Morbi a enim imperdiet, sagittis justo eget, feugiat dolor.
                </p>
                
                <p>
                    Pellentesque eros tortor, commodo ac augue eget, viverra sagittis nisl. Aenean semper venenatis dui, ac imperdiet orci finibus sed. Quisque pharetra ultricies gravida. Duis hendrerit ante auctor nisl vulputate, eu molestie augue egestas. Integer semper velit libero, eu ullamcorper elit fermentum condimentum. Duis ac pharetra nisl. Fusce non dui nec diam tincidunt lobortis. Aenean vitae tellus venenatis, facilisis ante non, tempus lectus. Nam egestas tellus in metus aliquam, eu dignissim odio sagittis.
                </p>
                
            </article>
            
            <section class="row layout-700">
                <ul>
                    <a href="#top" class="button moot"><i class="fa fa-arrow-up"></i> TOP</a>
                    <a href="#" class="button moot"><i class="fa fa-twitter"></i> TWEET</a>
                    <a href="#" class="button moot"><i class="fa fa-facebook"></i> LIKE</a>
                </ul>
            </section>
        </main>
        
        <footer class="container">
            <section class="row layout-700 align-center">
                <h5> 
                    Copyright XYZ &copy; 2016
                </h5>
                <h6>
                    Powered by StringBean v2.3
                </h6>
            </section>
        </footer>
    </body>
</html>
        
        
